@media screen and (max-width: 1040px) {
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

html {
    min-width: 375px;
    margin: 0 auto;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.main-subtitle {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

/*TITLES*/

h1, h2, h3 {
    font-family: Raleway;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
}

h1, h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}


/*LIST*/

li {
    list-style-type: none;
    padding: 15px 0px 15px 0px;
    gap: 15px;
}

ul {
    padding-left: 0px;
}


/*HEADER*/

.header {
    display:flex;
    justify-content: space-between;
}

.header_nav {
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: start;
}

.logo {
    padding-top: 30px;
    gap: 10px;
    z-index: 2;
}

.logo img {
    width: 100px;
    object-fit: fill;
}

.nav_link {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    border-top: 2px solid transparent;
    padding-top: 20px;
}

.nav_link:hover {
    color:var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    text-align: center;
}

/*CARDS*/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/

.explicit-link {
    text-decoration: underline;
    cursor: pointer;
}

.hebergements {
    width: 100%;
    gap: 35px;
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hebergements-cards .card {
    display: flex;
    width:100%;
    height:357px;
    flex-direction: column;
    gap:4px;
    border-radius:20px;
    padding:0px 0px 15px 0px;
    margin: 15px 5px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 3px 15px #0000001a;
}
    
.hebergements-cards img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2.5%;
    padding: 2.5%;
}

.hebergements-cards a{
    width:100%;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
    
.hebergements-cards .card-subtitle {
    display: flex;
    flex-direction: row;
    line-height: 20px;
    padding: 5px;
    margin: 0px;
}


/*ACTIVITES*/

.activites {
    margin-top: 15px;
    padding: 30px;
    gap: 30px;
}

.activites-cards {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.activites-cards .card { 
    margin: 15px 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px #0000001a;
    width: 100%;
    height: 439px;
    border-radius: 20px;
    padding: 0px 0px 0px 0px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: contain;
}

.activites-cards .title {
    width: 100%;
    text-align: center;
}

.activites-cards a {
    width:100%;
}

/*FOOTER*/
.footer {
    background-color: var(--main-bg-color);
    margin-top: 50px;
    padding-top: 10px;
    border-radius: 20px;
}

.footer_title {
    width: 100%;
}

.footer_containers {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.footer_container_text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width : 100%;
    text-align: justify;
}

.footer_container_links {
    padding-left: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footer_container_photo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-bottom: 20px;
}

.footer_container_photo img{
    border-radius: 20px;
}
}